
@import "bootstrap";

      html, body {
        height: 100%;
        font-family: "Open Sans", Helvetica, Arial, Sans-serif;
      }
      body {
        background-image: url('../images/html5_logo.png'), url('../images/logo.png');
        background-size: 256px 256px;
        background-position: bottom left, bottom right;  
        background-repeat: no-repeat;
        color: #999;
        background-color: #111
      }
      h1 {
        color: #fff;
      }
      body .modal {
        color: #333;